*{
    margin: 0;

}
@font-face {
    font-family: 'toyota_displayregular';
    src: url('fonts/toyota_displayregular.eot');
    src: url('fonts/toyota_displayregular.eot?#iefix') format('embedded-opentype'),
         url('fonts/toyota_displayregular.woff2') format('woff2'),
         url('fonts/toyota_displayregular.woff') format('woff'),
         url('fonts/toyota_displayregular.ttf') format('truetype'),
         url('fonts/toyota_displayregular.svg#toyota_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'toyota_displaybold';
    src: url('fonts/toyota_displaybold.eot');
    src: url('fonts/toyota_displaybold.eot?#iefix') format('embedded-opentype'),
         url('fonts/toyota_displaybold.woff2') format('woff2'),
         url('fonts/toyota_displaybold.woff') format('woff'),
         url('fonts/toyota_displaybold.ttf') format('truetype'),
         url('fonts/toyota_displaybold.svg#toyota_displaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}

.fb
{
    float:right; 
    margin-top: 20px;
    width: 48px;
    height: 48px;
    background: url('image/fb-header.png');
    z-index: 9000;
    cursor: pointer;
    margin-right: 35px;
}

.fb:hover
{
    float: right;
    margin-top: 20px;"
    width: 48px;
    height: 48px;
    background: url('image/fb-hover.png');
}  

.header
{
    background: #a51f21;
    height: 83px;

}

.header img
{
    float: left;

}

/**************************** Slider ****************************/

.wrapper 
{
    background: url(image/slides/fundo.png);
    background-position: center center;
}

.slider 
{
    margin: 0 auto;
}

a.oferta 
{
  background: url(image/slides/btn_off.png);
  height: 61px !important;
  width: 301px !important;
}

a.oferta:hover
{
  background: url(image/slides/btn_hover.png);
  margin-top: -4px;
  height: 67px !important;
}

/**************************** Slider ****************************/

.content
{
    width: 980px;
    margin: 0 auto;
    
    /* height: 385px; */
}

.content h2
{
    font-family: 'toyota_displayregular';
    font-size: 58px;
    color:#4a4a4a;
    text-align: center;
}

.header p
{
    float: left;
    font-family: arial;
    font-weight: bold;
    font-size: 1.7em;
    margin-right: 80px;
    margin-top: 25px;
    margin-left: 80px;
    color: #FFF;
}

.banner
{
    width: 100%;
}

.banner img
{
    width: 100%;
}

.input-group-addon
{
    background-color: #a51f21;
    border: none;
    color: #fff;
}

.form-control
{
    border: solid 1px #a51f21;
}

.row
{
    padding: 15px 0;
}

input.botao-enviar 
{
    background-color: #A51F21;
    color: #fff;
    font-family: 'toyota_displaybold';
    font-size: 22px;
    border: 0;
    padding: 15px 78px;
    margin: 45px 0;
    outline: none;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

    -webkit-box-shadow: 0px 4px 0px 0px rgba(118, 0, 2, 1);
    -moz-box-shadow: 0px 4px 0px 0px rgba(118, 0, 2, 1);
    box-shadow: 0px 4px 0px 0px rgba(118, 0, 2, 1);
}

input.botao-enviar:hover
{
    background-color: #760002;

    /*-webkit-box-shadow: 0px 4px 0px 0px rgba(165, 31, 33, 1);
    -moz-box-shadow: 0px 4px 0px 0px rgba(165, 31, 33, 1);
    box-shadow: 0px 4px 0px 0px rgba(165, 31, 33, 1);*/
}

.centralizar
{
    margin: 0 auto;
    text-align: center;
}

.footer
{
    background-color: #e3e3e3;
    padding: 22px 0;
    margin-bottom: 0;
    text-align: center;
}

.login
{
    width: 300px;
    margin: 0 auto;
    margin-top: 100px;
}

.controls
{
    text-align: center;
}

.controls #btn-login
{
    background-color: #A51F21;
    border-color: #810507;
    color: #fff;
}

.controls #btn-login:hover
{
    background-color: #B34D4E;
    border-color: #8B3C3D;
}

.table.lista
{
    opacity: 0;
}

.form-control:focus 
{
    border-color: #D53537;
    outline: 0;

    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(140, 32, 23, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(140, 32, 23, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(140, 32, 23, 0.6);
}

.bx-wrapper .bx-viewport 
{
    left: 0;
}

.cadastro_carteirinha input.botao-enviar 
{
  margin: 0;
  font-size: 16px;
  padding: 4px 40px;
}
h3{
     font-family: 'toyota_displaybold';
     font-size: 41px;
     color:#a51f21;
     text-align: center;

     margin-top: 10px;
}
.img-rosto{
    width: 370px;
    margin: 30px  auto;
    height: 60px;
}
.img-rosto img{
    float: left;
}
.img-rosto span{
    float: left;
    margin-top: 25px;
}
.horario{
    width: 440px;
    margin:0 auto;
    text-align: center;
    height: 120px;
}
.horario span{
    font-family: 'toyota_displayregular';
    font-size: 20px;
    color: #4a4a4a;
    text-align: center;

}
.contente{
    width: 940px;
    margin:0 auto;
    background: #a51f21;
    padding: 30px 0 0 0;
}
.telefone{
    width: 460px;
    height: 220px;
    float: left;
    
}
.telefone h3{
    font-family: 'toyota_displaybold';
    font-size: 27px;
    color: #ffffff;
    text-align: left;
    padding-left: 45px;
    margin-top: 0;

}
.telefone p{
     font-family: 'toyota_displayregular';
     font-size: 17px;
     color: #ffffff;
     padding-left: 45px;
}
.chat{
    width: 460px;
    height: 130px;
    float: left;
    border-left: 1px solid #ffffff;
}
.chat h3{
    font-family: 'toyota_displaybold';
    font-size: 27px;
    color: #ffffff;
    text-align: left;
    padding-left: 45px;
    margin-top:0;

}
.chat p{
     font-family: 'toyota_displayregular';
     font-size: 17px;
     color: #ffffff;
     padding-left: 45px;
}
.select-telefone{
    margin-left: 45px;
    width: 365px;
    padding: 7px;
    border-radius: 8px;
    border-color: #a51f21;
    color: #766c6c;
     font-family: 'toyota_displayregular';
     font-size: 22px;
     
    margin-bottom: 10px;
    outline: none;
}
.local-span{
    font-family: 'toyota_displaybold';
    font-size: 20px;
    color:#272727;
    padding-left: 50px;
}
.telefone-span{
    font-family: 'toyota_displaybold';
    font-size: 35px;
    color:#a51f21;
    padding-left: 50px;
    padding-top: 10px;
}
.button{
    text-transform: uppercase;
    width: 210px;
    height: 38px;
    border-bottom: 4px solid #b58d00;
    background: #ffff00;
    color: #653e00;
    font-family: 'toyota_displaybold';
    font-size: 14px;
    border-radius: 8px;
    text-align: center;
    padding-top: 8px;
    margin: 0 auto;
}
.img-info{
    margin: 0 auto;
    width: 330px;
}